:root {
    --color-primary-dark: #181817;
    --color-primary-light: #FFFFFF;
    --color-brand: #FF9F0E;
    --color-brand-dark: #465929;
    --color-brand-sec-light: #FCB62A;
    --color-secondary-dark: #a18268;
    --colol-secondary-light: #FFFAF3;
    --colol-secondary-blue: #F1F3FF;
    --colol-secondary-grey: #839AA9;
    --colol-secondary-light-shade: #F9F9FF;
    --colol-secondary-pink: #D9A6FF;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desctop: 1280px;