.contact-section {
    margin-bottom: 162.5px;
    padding-top: 7px;
    background: url(../img/vector-contact-m0bile.png)0px -62px/cover no-repeat;
    
    @media screen and (min-width:$bp-desctop) {
            padding-top: 168px;
            margin-bottom: 95px;
            background:url(../img/walking-dog.png)0 80% no-repeat, url(../img/dog-side.png)100% 80%/322px 700px no-repeat, url(../img/vector-contact.png)0 23%/cover no-repeat;
        }


    &__container {
        width: 100%;
        margin: 0 auto;
        @media screen and (min-width:$bp-tablet) {
            width: 50%;
        }
    }

    &__text {
        letter-spacing: 0.05em;
        
        font-size: 18px;
        text-align: center;
        font-weight: 400;
        color: var(--colol-secondary-grey);
        margin-bottom: 24px;
        @media screen and (min-width:$bp-desctop) {
                margin-bottom: 42px;
            }
    }

    &__button {
       
       margin-bottom: 8px;
       @media screen and (min-width:$bp-desctop) {
            margin-bottom: 16px;
        }
    }
}



