.input {
    margin-bottom: 16px;
    position: relative;

    @media screen and (min-width:$bp-desctop) {
        margin-bottom: 24px;
    }

    &__control {
        padding: 12.5px 40px 12.5px 80px;
        width: 100%;
        border-radius: 8px;
        border: 1px solid var(--color-brand-sec-light);
        background-color: transparent;

        &:focus {
            border: 1px solid var(--color-brand);
            outline: none;
        }

        &::placeholder {
            font-size: 16px;
            line-height: 1.17;
            color: var(--color-brand-sec-light);

        }

        &:focus::placeholder {
            color: var(--color-primary-dark);

        }
    }

    &__icon {
        position: absolute;
        left: 40px;
        /* Расположение иконки справа */
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        /* Чтобы иконка не мешала вводу текста */
        fill: var(--color-brand-sec-light);

    }

    &__label {
        display: block;
    }

    &__checkbox {
        display: flex;
        justify-content: center;
        gap: 8px;
        color: var(--colol-secondary-grey);
        font-size: 12px;
        font-weight: 300;
        margin-bottom: 10px;
    }

}


.visualy-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

         .error {
             border-color: red;
         }
    
         .error-message {
             color: red;
             font-size: 0.8em;
            position: absolute;
                bottom: -20px;
                /* Position error message below the input field */
                left: 0;
                width: 100%;
         }
    
         .input__label.visualy-hidden {
             display: none;
         }